*{
  font-family: Georgia, 'Times New Roman', Times, serif;
}

html,body{
  background-color:#22293B;
  padding: 60px;
}



h2,h3,p{
  color: white;
}

li{
  color: aliceblue;
}

input{
  color:grey;
  font-size: 1.2rem;
  width: 100%;
}

.card-grid{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card{
  align-content: center;
  border: 1px solid grey;
  border-radius: 6px;
  margin-bottom: 10px;
  overflow: hidden;
} 

.card p{
  padding: 5px;
  text-align: center;
}

.card img {
  max-height: 170px;
}